.container {
  display: flex;
  flex-direction: row;
}
.side-menu {
  height: 100vh;
  width: 250px;
  background-color: #161b33;
  color: #ffffff;
  padding: 20px;
  flex-shrink: 0;
}
.logo {
  margin-bottom: 30px;
  text-align: justify;
}
.nav-items {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #4c5760;
}
.active {
  color: white;
}

.nav-list {
  flex-direction: column;
  padding-bottom: 15px;
  font-size: 25px;
}
.main {
  flex-grow: 1;
  /* padding: 5px; */
  background-color: #f4f4f5;
}

.artifacts {
  background-color: #4a5759;
  color: #ffffff;
  padding: 20px;
}

.art-title {
  text-align: start;
}

.container-card {
  align-items: center;
  display: flex;
  width: 100%;
}

.card-list {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  padding: 50px;
}

.card {
  width: 300px;
  height: 250px;
  border-radius: 7px;
  background-color: #161a1d;
  color: white;
  padding: 10px;
}
/* 12312 */
